---
layout: default
title: The Owlery
---

<div class="content col-md-8 col-sm-12 mb0 px0 clearfix" id="main-content">
  {% include latest_posts.html %}

  <div class="col-md-12 pt4">
    <div class="section-header color-brand pb1"><a class="text-decoration-none"
      href="http://instagram.com/chase_mccoy">Instagram</a></div>
    {% include instagram.html %}
  </div>

  <div class="col-md-12 pt9">
    <div class="col-md-8 pl0">
      <div class="section-header color-brand pb2">Quotable Quotes</div>
      {% include quote.html offset=0 align="left" %}
    </div>
  </div>

  <div class="col-md-12 pt4">
    <div class="col-md-4"></div>

    <div class="col-md-8 pl0">
      {% include quote.html offset=1 align="right" %}
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-12 pr0 px0" id="asides">
  {% include asides.html %}
</div>
