<section class="footer">


</section>

<script>
  $(document).ready(function() {
    function sumChildren(group) {
      return $.makeArray($(group).children().map(function() {
        return $(this).outerHeight();
      })).reduce(function(a, b) { return a + b }, 0);
    }

    var contentHeight = sumChildren($('#main-content')) + 200;
    var asidesList = $('#asides-list');
    var asidesHeight = sumChildren(asidesList);

    while ((asidesHeight - asidesList.children().last().outerHeight()) > Math.max(contentHeight, $(window).height())) {
      var lastChild = asidesList.children().last();
      asidesHeight -= lastChild.outerHeight();
      lastChild.remove();
    }
  });
</script>

{% assign instafeed_template = '<a href="{{link}}" style="background-image: url({{image}})"></a>' %}

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '6081727',
        accessToken: '6081727.c75aa6f.b26124e072a445ceb20c9bf9a59f3fe4',
        limit: '4',
        resolution: 'low_resolution',
        template: '{{ instafeed_template }}'
    });
    feed.run();
</script>

<script>
  if (document.querySelector('#spotify-widget')) {
    SCP({
      selector: '#spotify-widget',
      username: 'chase_mccoy',
      api_key: 'ec7e41d641ec19029fd88d9ef34fb700',
      width: '100%',
      height: '370'
    });
  }
</script>
</body>
</html
