<div class="sidebar p2 bg-brand-mid color-brand-medium clearfix pt3">
  <div class="col-xs-12 px0 table float-none">
    <div class="col-xs-12 float-none px0">
      <a href="/">
        <img class="inline-block mr1" src="/assets/img/owlery.png" alt="The Owlery">
        <p class="inline-block h3 sans bold line-height-2 m0">The Owlery<br><span class="italic h4 regular">by Chase McCoy</span></p>
      </a>
    </div>

    <!-- <div class="col-sm-12 col-xs-6 table-cell float-none vertical-center px0">
      <p class="color-brand-medium h5 bold sans line-height-2 m0">A hyperlink odyssey. Written, curated, and produced by Chase McCoy.</p>
    </div> -->
  </div>

  <div class="col-md-12 px0 byline">
    <p class="h4 serif line-height-3">The Owlery is a webblog and collection of curated goodness from around the internet.
    Check out the <a href="/colophon">colophon</a> to learn more. You can also browse through the
    <a href="/archive">archives</a> or <a href="/feeds">subscribe to the feed</a>.</p>
  </div>

  <!-- <div class="col-md-12 px0">
    <ul class="list-reset">
      <li><a href="/">Front Page</a></li>
      <li><a href="/colophon">Colophon</a></li>
      <li><a href="/feeds">Feeds</a></li>
      <li><a href="/archive">Archive</a></li>
    </ul>
  </div> -->

  <!-- <div class="col-md-12 px0">
    <div class="color-brand-low bold h4 sans" id="spotify-widget"></div>
  </div> -->
</div>
