/* ====================== */
/* TYPOGRAPHY =========== */
/* ====================== */

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 { margin: 1.2rem 0 0.8rem 0; }

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.6rem;
  /*font-family: "freight-sans-pro";*/
}

h3 {
font-size: 1.2rem;
}

h4 {
  font-size: 1.0rem;
}

.fancy {
  font-family: 'Bridone-web', Georgia, serif;
  font-weight: bold;
  font-style: italic;
}

.left {
  text-align: left !important;
}

h1.siteTitle {
  color: #d13636;
  font-size: 2rem;
  margin: 1.5rem 0 0 0;
}

p#currentDate {
  font-family: "freight-text-pro";
  color: #b8b8b8;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
}

.cornerTitle {
  padding: 1rem 0 0 1rem;
  margin: 0 !important;
}

/*.cornerTitle a:hover {
  opacity: 0.7;
}*/

.headerIntro {
  color: #575757;
  font-size: 1.2rem;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  font-weight: bold;
  font-style: normal;
}

h2.postTitle {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0 0 0 0;
  /*text-align: center;*/
  /*letter-spacing: 0.1rem;*/
  /*padding: 0.5rem 0 0.5rem 0rem;*/
  /*transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;*/
}

.postDate {
  font-size: 0.9rem;
  color: #d13636;
  /*text-align: center;*/
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2rem 0 0.8rem 0;
  display: block;
  font-family: "freight-text-pro", 'Georgia';
}

.asideDate {
  display: inline;
}

p {
  margin: 0 0 1rem 0;
}

article.column {
  font-family: "freight-text-pro", 'Georgia';
  font-size: 1.3em;
  line-height: 1.45em;
}

article.columns {
  font-family: "freight-text-pro", 'Georgia';
  font-size: 1.3em;
  line-height: 1.45em;
}

article.column > p:first-of-type::first-letter, article.columns > p:first-of-type::first-letter {
  float: left;
  font-size: 90px;
  line-height: 60px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 3px;
}

article.aside p {
  margin: 0;
}

p.quoteText {
  font-size: 3.0rem;
  line-height: 3.5rem;
}

p.quoteSource {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #d13636;
  letter-spacing: 1px;
  font-weight: bold;
}

a {
  color: #d13636;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}

a:hover {
  color: black;
}

a.asideDate {
  color: gray;
  text-decoration: none;
}

h1.siteTitle a {
  text-decoration: none;
  color: #d13636;
}

h2.postTitle a {
  color: #3c3c3e;
  text-decoration: none;
}

/*h2.postTitle:hover {
  opacity: 0.8;
}*/

.sectionHeader {
  padding: 0 0 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #d13636;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-family: "freight-sans-pro";
}

.sectionDivider {
  margin: 0 0 2rem 0;
  height: 1px;
  background-color: #faebeb;
  text-align: center;
}

.white {
  color: white;
}

a.white {
  color: white !important;
}

a.more {
  text-decoration: none;
  font-weight: bold;
}

ul.previousPosts {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0 auto 1rem auto;
}

h2.previousTitle {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 0.5em 0 0.5em;
  font-family: "freight-text-pro", 'Georgia';
}

.previousDate {
  display: block;
  padding: 0 0 0 0;
  line-height: 1.2rem;
}

section.footer p {
  color: lightGray;
  font-size: 0.9rem;
  font-style: italic;
}

section.footer img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

blockquote {
  font-size: 1.3rem;
  color: gray;
  border-left: 5px solid #d13636;
  padding-left: 1rem;
  margin-left: 1.5rem;
}

article.aside blockquote {
  font-size: 0.8rem;
  border: none;
  padding-left: 0;
  margin: 0.3rem 0 0.5rem 1rem;
}

code {
  background-color: #f5f5f5;
}

pre {
  font-size: 1.2rem;
  line-height: 1.2em;
  background-color: #f5f5f5 !important;
  display: block;
  overflow: visible;
  white-space: pre-wrap;
}

.wf-loading {
  opacity: 0;
  visibility: hidden;
}

.ie.wf-loading {
  visibility: hidden;
}

.ie.wf-active {
  visibility: visible;
}

.wf-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .625s ease-in-out;
  -moz-transition: opacity .625s ease-in-out;
  transition: opacity .625s ease-in-out;
}
